<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vikas.dtu.safetyfirst2">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
                    android:name=".NotificationService"
                    android:exported="false" />

                <receiver android:name=".NotificationServiceStarterReceiver">
                    <intent-filter>
                        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                        <action android:name="android.intent.action.USER_PRESENT" />
                    </intent-filter>
                </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.vikas.dtu.safetyfirst2.DeepLinkActivity"
            android:label="@string/app_name"
            android:theme="@style/ThemeOverlay.MyDialogActivity">

            <!-- [START deep_link_filter] -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:scheme="http" />
                <data
                    android:host="example.com"
                    android:scheme="https" />
            </intent-filter>
            <!-- [END deep_link_filter] -->
        </activity>
        <activity
            android:name="com.vikas.dtu.safetyfirst2.WelcomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.vikas.dtu.safetyfirst2.FeedBackActivity"
            android:screenOrientation="portrait"
            android:label="FeedBack"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.DashboardActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.DashboardActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity"
            android:label="Know It"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.DashboardActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.DashboardActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.Ladder.LadderTypes"
            android:label="Know It"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.Ladder.LadderActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.Ladder.LadderActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.Ladder.LadderActivity"
            android:label="Know It"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.AerialLift.AerialLiftActivity"
            android:label="Know It"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.CraneLift.CraneLiftActivity"
            android:label="Know It"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.FireSprinkler.FireSprinklerActivity"
            android:label="Know It"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.ForkLift.ForkLiftActivity"
            android:label="Know It"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.HeatStress.HeatStressActivity"
            android:label="Know It"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.RespiratoryLiftActivity"
            android:label="Know It"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.SafetyNetActivity"
            android:label="Know It"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.Scaffoldings.Scaffolding"
            android:label="Scaffod"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.Scaffoldings.SuspensionScaffold"
            android:label="Scaffod"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.Scaffoldings.Scaffolding">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.Scaffoldings.Scaffolding" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.Scaffoldings.SelfSupportingScaffold"
            android:label="Scaffod"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mKnowItActivity.Scaffoldings.Scaffolding">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mKnowItActivity.Scaffoldings.Scaffolding" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mNewsActivity.NewsDetailActivity"
            android:label="News"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mNewsActivity.NewsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mNewsActivity.NewsActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mNewsActivity.NewsActivity"
            android:label="@string/titleNewsActivity"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.DashboardActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.DashboardActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mLaws.LawsActivity"
            android:label="Laws"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.DashboardActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.DashboardActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mDiscussion.DiscussionActivity"
            android:label="@string/titleDiscussionActivity"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.DashboardActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.DashboardActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mDiscussion.NewPostActivity"
            android:label="@string/titleNewPostActivity"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mDiscussion.DiscussionActivity"
            android:uiOptions="splitActionBarWhenNarrow">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mDiscussion.DiscussionActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mDiscussion.PostDetailActivity"
            android:label="@string/titlePostDetailActivity"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.mDiscussion.DiscussionActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.mDiscussion.DiscussionActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mDiscussion.SearchActivity"
            android:label="@string/search_activity" />
        <activity android:name="com.vikas.dtu.safetyfirst2.mSignUp.SignUpActivity" />
        <activity android:name="com.vikas.dtu.safetyfirst2.NoNetworkConnection" />
        <activity
            android:name="com.vikas.dtu.safetyfirst2.PicActivity"
            android:label="@string/title_activity_pic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.mUser.UpdateProfile"
            android:label="Update Profile"
            android:parentActivityName="com.vikas.dtu.safetyfirst2.DashboardActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vikas.dtu.safetyfirst2.DashboardActivity" />
        </activity>
        <activity android:name="com.vikas.dtu.safetyfirst2.mWebview.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.vikas.dtu.safetyfirst2.DashboardActivity"
            android:label="Safety First"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.vikas.dtu.safetyfirst2.mSignUp.SignInActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.KnowItDetails.KnowItDetail" />
        <activity android:name="com.vikas.dtu.safetyfirst2.TermsnCondition"
            android:screenOrientation="portrait"/>
        <activity android:name="com.vikas.dtu.safetyfirst2.Help"
            android:screenOrientation="portrait"/>
        <activity android:name="com.vikas.dtu.safetyfirst2.FaqActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.vikas.dtu.safetyfirst2.mKnowItActivity.Ladder.LadderList"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>