<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vikas.safetyfirst">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".mWebview.Webview" />
        <activity
            android:name=".mKnowitActivity.Ladders.mNonSelfSupportingLadder.NonSelfSupporting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mKnowitActivity.Ladders.mSelfSupportingLadder.SelfSupporting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mNewsActivity.DetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SignInActivity" />
        <activity android:name=".mNewsActivity.NewsActivity" />
        <activity android:name=".mDiscussion.DiscussionActivity"/>
        <activity android:name=".mDiscussion.NewPostActivity"/>
        <activity android:name=".mDiscussion.PostDetailActivity"/>

        <activity android:name=".DashboardActivity"></activity>
    </application>

</manifest>